{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block body %}
    <div class="container">
        <div class="row px-5 py-5">
            <div class="offset-md-3 col-md-6">
                <div class="bg-light border border-dark px-3 py-3 text-center">
                    <h1>Connectez vous!</h1>

                    {% if hasError %}
                        <div class="alert alert-warning">Une erreur est survenue, le nom d'utilisateur ou alors le mot
                            de passe est invalide
                        </div>
                    {% endif %}

                    <form action="{{ path('account_login') }}" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="_username" id="email" class="form-control"
                                   placeholder="Adresse email..." required value="{{ lastusername }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="_password" id="password" class="form-control"
                                   placeholder="Mot de passe..." required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Connexion!</button>
                        </div>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="{{ path('account_register') }}">Créer un compte</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="{{ path('account_forgot-password') }}">MDP oublie</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
