<footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.
    </p>
    <p>Slightly modified by Beniamin Tolan</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>