<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/stylecustom.css') }}">
        <script src="https://kit.fontawesome.com/8fb9907234.js" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {%  include 'partials/header.html.twig' %}

        {% block body %}{% endblock %}

        {%  include 'partials/footer.html.twig' %}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <script>
            $('.custom-file-input').on('change', function (event) {
                let inputFile = event.currentTarget;
                $(inputFile).parent()
                    .find('.custom-file-label')
                    .html(inputFile.files[0].name)
            });
        </script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
