{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/stylecustom.css">
{% endblock %}
{% block body %}
    <section>
        <div class="jumbotron" id="showcase">


                    <div class="h-100 d-flex justify-content-center">
                        <div class="my-auto text-center">
                        <h1 class="display-3">Hello, world!</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                            attention
                            to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger
                            container.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p>
                        </div>
                    </div>


            <div onclick="location.href='http://127.0.0.1:8000/#test';" style="cursor:pointer;" class="arrow">

                <span></span>
                <span></span>
                <span></span>

            </div>
        </div>
    </section>
    <section>
        dsfsqfsqfdsqfsdq
    </section>
    <section>
        dsfsqfsqfdsqfsdq
    </section>
    <section>
        dsfsqfsqfdsqfsdq
    </section>
    <section id="test" >
        dsfsqfsqfdsqfsdq
    </section>

{% endblock %}


