{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/stylecustom.css">
{% endblock %}
{% block body %}
    <div class="container" id="test">
    <section>
        <div id="showcasetrik"></div>
    </section>

        <section >
            <div class="row mb-2">
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <img class="card-img-right flex-auto d-none d-lg-block"
                                 src="https://source.unsplash.com/random/115x75?news" alt="Card image cap">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">Featured post</a>
                            </h5>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card
                                to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}


