{% extends 'base.html.twig' %}

{% block title %}Mes Tricks{% endblock %}

{% block body %}

    <div class="row">
        {% set url = path('tricks_show', {'id': trick.id}) %}

        {% include 'trick/_tricks.html.twig' %}

    </div>

{% endblock %}
