{% extends 'base.html.twig' %}

{% block title %}Mes Tricks{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            {% include 'trick/_tricks.html.twig' %}

        </div>
    </div>


{% endblock %}
