{% extends 'base.html.twig' %}
{% block title %} Creation Trick {% endblock %}
{% block stylesheets %}
{% endblock %}

{% form_theme form 'trick/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <div class="border border-dark py-3 px-3">
            <div class="text-center">
                <h1>Créer un nouveau trick</h1>
            </div>

            <div class="px-1 py-1">


                <div class="section">
                    {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <div id="editor"></div>
                    <div class="text-center py-3">
                        <button  class="btn btn-primary">Créer le nouveau trick</button>
                    </div>

                    {{ form_end(form) }}
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.ckeditor.com/ckeditor5/18.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#trick_content'))
            .catch(error => {
                console.error(error);
            });
    </script>

    <script src="{{ asset('js/trick.js') }}"></script>
{% endblock %}



